* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #010316;
  color: #e1e1e1;
  background-image: url(/img/dark-bg.jpg);
  background-repeat: repeat;
  background-size: 960px 960px;
}

.light {
  background-color: #dedede;
  color: #2e2e2e;
  background-image: url(/img/light-bg.jpg);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: 50px;
}

.filters .select-wrapper .select-label {
  font-size: 12px;
  margin-bottom: 5px;
}

.filters .select-wrapper .select-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  margin-bottom: 20px;
  width: 350px;
  height: 40px;
  border-bottom: 1px solid #e1e1e1;
  stroke: #e1e1e1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.filters .select-wrapper .select-block-light {
  border-bottom: 1px solid #2e2e2e;
  stroke: #2e2e2e;
}

.filters .select-wrapper .select-block:hover {
  color: #959595;
  stroke: #959595;
  border-color: #959595;
}

.filters .select-wrapper .select-block .dropdown {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  z-index: 50;
  left: -1px;
  top: 40px;
  width: 350px;
  max-height: 0;
  overflow: auto;
  background: rgba(1, 3, 22, 0.9);
  color: #e1e1e1;
}

.filters .select-wrapper .select-block .dropdown-active {
  max-height: 180px;
}

.filters .select-wrapper .select-block .dropdown-light {
  background: rgba(255, 255, 255, 0.9);
  color: #2e2e2e;
}

.filters .select-wrapper .select-block .dropdown .dropdown-item {
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.filters .select-wrapper .select-block .dropdown .dropdown-item::first-letter {
  text-transform: uppercase;
}

.filters .select-wrapper .select-block .dropdown .dropdown-item:hover {
  background: #030e39;
  color: #e1e1e1;
}

.filters .select-wrapper .select-block .dropdown::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(80, 80, 80, 0.5);
}

.filters .select-wrapper .select-block .dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(180, 180, 180, 0.26);
  border-radius: 999px;
}

.filters .select-wrapper .select-block .active {
  max-height: 180px;
}

.filters .select-wrapper .select-block .filter-icon {
  stroke: inherit;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.filters .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.filters .btn-wrapper .apply-btn {
  display: block;
  padding: 10px 65px;
  font-size: 20px;
  text-transform: uppercase;
  color: #e1e1e1;
  border: 1px solid #e1e1e1;
  background: transparent;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.filters .btn-wrapper .apply-btn:hover {
  background-color: #e1e1e1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #010316;
}

.main {
  position: relative;
  height: 100vh;
  -webkit-box-shadow: 0px 50px 100px 50px #010316;
          box-shadow: 0px 50px 100px 50px #010316;
  overflow: hidden;
}

.main::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0px -70px 80px 50px #010316;
          box-shadow: inset 0px -70px 80px 50px #010316;
}

.main-light {
  -webkit-box-shadow: 0px 50px 100px 50px #ccd6da;
          box-shadow: 0px 50px 100px 50px #ccd6da;
}

.main-light::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0px -50px 100px 50px #ccd6da;
          box-shadow: inset 0px -50px 100px 50px #ccd6da;
}

.main .header {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 50px;
  width: 100%;
}

.main .header .logo {
  width: 200px;
}

.main .header .ui {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .header .ui .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  font-size: 14px;
}

.main .header .ui .switch .switch-label {
  color: #e1e1e1;
  margin: 0 10px;
}

.main .header .ui .switch #switch {
  position: relative;
  width: 50px;
  height: 25px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #2e2e2e;
  border-radius: 999px;
  outline: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}

.main .header .ui .switch #switch:checked {
  background-color: #ccd6da;
}

.main .header .ui .switch #switch::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #c4c4c4;
  top: 0;
  left: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .header .ui .switch #switch:checked::before {
  left: 25px;
}

.main .header .ui .volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.main .header .ui .volume .volume-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .header .ui .volume .volume-wrapper .volume-text {
  color: #e1e1e1;
}

.main .header .ui .volume .volume-wrapper .volume-icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: #e1e1e1;
}

.main .header .ui .volume .volume-wrapper .volume-icon:hover {
  fill: #fbfbfb;
}

.main .header .ui .volume .range {
  position: absolute;
  right: 0;
  bottom: -15px;
  width: 95px;
  height: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border-radius: 999px;
  background: #e1e1e1;
}

.main .header .ui .volume .range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #979797;
  cursor: pointer;
}

.main .header .ui .volume .range::-webkit-progress-value {
  background-color: red;
}

.main .slide {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .slide-active {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: zoom 20s linear infinite;
          animation: zoom 20s linear infinite;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.main .arrow {
  position: absolute;
  z-index: 100;
  left: 50%;
  bottom: 100px;
}

.main .arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid #e1e1e1;
  border-right: 3px solid #e1e1e1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

.main .arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.main .arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

.content {
  margin: 0 50px;
}

.content .section-title {
  position: relative;
  z-index: 20;
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
}

.content .descr {
  position: relative;
  z-index: 20;
  margin-bottom: 60px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
  cursor: pointer;
}

.content .cards .hero-card {
  position: relative;
  margin-bottom: 50px;
  width: 350px;
  height: 512px;
  background-color: #0f1652;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .cards .hero-card:hover {
  -webkit-box-shadow: 0px 0px 40px 20px rgba(158, 238, 255, 0.25);
          box-shadow: 0px 0px 40px 20px rgba(158, 238, 255, 0.25);
}

.content .cards .hero-card-light:hover {
  -webkit-box-shadow: 5px 5px 30px 10px rgba(86, 86, 86, 0.63);
          box-shadow: 5px 5px 30px 10px rgba(86, 86, 86, 0.63);
}

.content .cards .hero-card .hero-photo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.content .cards .hero-card .hero-info {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  z-index: 2;
  padding: 30px 17px;
  width: 100%;
  height: 100%;
  color: #e1e1e1;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.content .cards .hero-card .hero-info .hero-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
}

.content .cards .hero-card .hero-info .hero-label .key {
  margin-bottom: 10px;
}

.content .cards .hero-card .hero-info .hero-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.content .cards .hero-card .hero-info .hero-data .label {
  width: 35%;
  text-transform: lowercase;
  font-weight: 700;
}

.content .cards .hero-card .hero-info .hero-data .label::first-letter {
  text-transform: uppercase;
}

.content .cards .hero-card .hero-info .hero-data .sense {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content .cards .hero-card .hero-info .hero-data .sense::first-letter {
  text-transform: uppercase;
}

.content .show-btn {
  display: block;
  padding: 10px 65px;
  margin: auto;
  margin-bottom: 120px;
  font-size: 20px;
  text-transform: uppercase;
  color: #e1e1e1;
  border: 1px solid #e1e1e1;
  background: transparent;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .show-btn:hover {
  background-color: #e1e1e1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #010316;
}

.footer {
  padding: 100px 50px;
  background-color: #010316;
  fill: #e1e1e1;
}

.footer-light {
  fill: #2e2e2e;
  background-color: #ccd6da;
}

.footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.footer .footer-wrapper .footer-logo {
  width: 105px;
}

.footer .footer-wrapper .footer-item {
  margin-bottom: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .footer-wrapper .footer-item:hover {
  color: #959595;
}

.footer .footer-wrapper .socials .socials-text {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.footer .footer-wrapper .socials .socials-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 145px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  font-size: 18px;
}

.footer .footer-wrapper .socials .socials-links .social-icon {
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
  fill: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .footer-wrapper .socials .socials-links .social-icon:hover {
  fill: #959595;
}

.scroll-up {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  right: 50px;
  bottom: 50px;
  fill: #e1e1e1;
}

.scroll-up-light {
  fill: #2e2e2e;
}

.scroll-up .arrow-up {
  fill: inherit;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}

.scroll-up .arrow-up:hover {
  fill: #aeaeae;
}
/*# sourceMappingURL=styles.css.map */